
@import "tailwindcss";

@theme {
  --color-base00: var(--base00);
  --color-base01: var(--base01);
  --color-base02: var(--base02);
  --color-base03: var(--base03);
  --color-base04: var(--base04);
  --color-base05: var(--base05);
  --color-base06: var(--base06);
  --color-base07: var(--base07);
  --color-base08: var(--base08);
  --color-base09: var(--base09);
  --color-base0A: var(--base0A);
  --color-base0B: var(--base0B);
  --color-base0C: var(--base0C);
  --color-base0D: var(--base0D);
  --color-base0E: var(--base0E);
  --color-base0F: var(--base0F);

  --font-mono: ui-monospace, monospace;
}

@layer base {
  body {
    @apply bg-base00 text-base05 font-mono antialiased;
    margin: 0;
  }
}
